{% extends 'usercenter/usercenter-base.html' %}

{% load staticfiles %}

{% block title %}收藏课程{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block custom_bread %}
        <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'users:user_info' %}">个人中心</a>></li>
                <li>我的消息</li>
            </ul>
        </div>
    </section>
{% endblock custom_bread %}

{% block custom_right_content %}
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的消息</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="head">
				<ul class="tab_header messagehead">
                    <li {% ifequal read "all" %}class="active"{% endifequal %}><a href="?read=all">全部</a></li>
                    <li {% ifequal read "no" %}class="active"{% endifequal %}><a href="?read=no">未读</a></li>
                    <li {% ifequal read "yes" %}class="active"{% endifequal %}><a href="?read=yes">已读</a></li>
                    <li style="float: right"><b>数量: {{ message_num }}</b></li>

				</ul>
			</div>
			<div class="messagelist">
                {% for message in user_message.object_list %}
                    <div class="messages">
                        <div class="fr">
                            <div class="top"><span class="fl time">{{ message.add_time }}</span><span class="fr btn foldbtn"></span></div>
                            <p>
                                {{ message.message }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
			</div>
			<div class="pageturn pagerright">
                <ul class="pagelist">
                    {% if user_message.has_previous %}
                        <li class="long"><a href="?{{ user_message.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}

                    {% for page in user_message.pages %}
                        {% if page %}
                            {% ifequal page user_message.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if user_message.has_next %}
                        <li class="long"><a href="?{{ user_message.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>

		</div>

	</div>
{% endblock custom_right_content %}

