{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}课程机构列表 - 慕学在线网{% endblock title %}

{#面包屑#}
{% block custom_bread %}
<section>
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="{% url 'index' %}">首页</a>></li>
            <li>课程机构</li>
        </ul>
    </div>
</section>
{% endblock custom_bread %}

{% block custom_content %}

<section>
	<div class="wp butler_list_box list">
	<div class='left'>
		<div class="listoptions">
			<ul>
				<li>
					<h2>机构类别</h2>
					<div class="cont">
                        <a href="?city={{ city_id }}"><span class="{% ifequal category '' %}active2{% endifequal %}">全部</span></a>

                            <a href="?ct=pxjg&city={{ city_id }}"><span class="{% ifequal category 'pxjg' %}active2{% endifequal %}">培训机构</span></a>

                            <a href="?ct=xx&city={{ city_id }}"><span class="{% ifequal category 'xx' %}active2{% endifequal %}">高校</span></a>

                            <a href="?ct=gr&city={{ city_id }}"><span class="{% ifequal category 'gr' %}active2{% endifequal %}">个人</span></a>

					</div>
				</li>
				<li>
					<h2>所在地区</h2>
					<div class="more">更多</div>
					<div class="cont">
                        <a href="?ct={{ category }}"><span class="{% ifequal city_id '' %}active2{% endifequal %}">全部</span></a>

                            {% for city in all_cities %}
                                <a href="?city={{ city.id }}&ct={{ category }}"><span class="{% ifequal city_id city.id|stringformat:'i' %}active2{% endifequal %}">{{ city.name }}</span></a>
{#                                使用ifequal判断是否当前城市为目标选中, 使用stringformat字符串格式化 #}
                            {% endfor %}

					</div>
				</li>
			</ul>
		</div>
		<div class="all">共<span class="key">{{ orgs_nums }}</span>家</div>
		<div class="butler_list company list">
		<div class="layout">
			<div class="head">
				<ul class="tab_header">
					<li class="{% ifequal sort '' %}active{% endifequal %}"><a href="?city={{ city_id }}&ct={{ category }}">全部</a></li>
					<li class="{% if sort == 'students' %}active{% endif %}"><a href="?sort=students&city={{ city_id }}&ct={{ category }}">学习人数 &#8595;</a></li>
					<li class="{% if sort == 'course_nums' %}active{% endif %}"><a href="?sort=course_nums&city={{ city_id }}&ct={{ category }}">课程数 &#8595;</a></li>
				</ul>
			</div>
                {% for course_org in all_orgs.object_list %}

                    <dl class="des difdes">
                    <dt>
                        <a href="{% url 'org:org_home' course_org.id %}">
                            <img width="200" height="120" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ course_org.image }}"/>
{#                            <img width="200" height="120" class="scrollLoading" data-url="/static/{{ course_org.image }}"/>#}
                        </a>
                    </dt>
                    <dd>
                        <div class="clearfix">
                             <a href="{% url 'org:org_home' course_org.id %}">
                                 <h1>{{ course_org.name }}</h1>
                                 <div class="pic fl">
                                         <img src="{% static 'images/authentication.png' %}"/>
                                         <img src="{% static 'images/gold.png' %}"/>
                                 </div>
                             </a>
                        </div>
                        <ul class="cont">
                            <li class="first"><p class="pic9">课程数：<span>{{ course_org.course_nums }}</span></p><p class="c7">学习人数：<span>{{ course_org.students }}</span></p></li>
                            <li class="c8" style="padding-left:18px;">{{ course_org.address }}</li>
                            <li class="pic10" style="padding-left:18px;">经典课程：

                                {% for class_course in course_org.get_class_course %}
                                    <a href="{% url 'course:course_detail' class_course.id %}">{{ class_course }}</a>
                                {% endfor %}

                            </li>
                        </ul>
                    </dd>
                    <div class="buy start_groupbuy jsShowPerfect2" data-id="22"><br/>联系<br/>服务</div>
                </dl>

                {% endfor %}

		</div>
		 <div class="pageturn">
            <ul class="pagelist">

                {% if all_orgs.has_previous %}
                    <li class="long"><a href="?{{ all_orgs.previous_page_number.querystring }}">上一页</a></li>
                {% endif %}

                {% for page in all_orgs.pages %}
                    {% if page %}
                        {% ifequal page all_orgs.number %}
{#                        ifequal 判断是否相等 #}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none"><a href="">...</a></li>
{#                        页面中不显示的那几页用...表示 #}
                    {% endif %}
                {% endfor %}

                {% if all_orgs.has_next %}
                    <li class="long"><a href="?{{ all_orgs.next_page_number.querystring }}">下一页</a></li>
                {% endif %}

            </ul>
        </div>
		</div>
	</div>
	<div class="right companyright">
        <div class="head">我要学习</div>
        <form class="rightform" id="jsStayForm" >
            {% csrf_token %}
            <div>
                <img src="{% static 'images/rightform1.png' %}"/>
                <input type="text" name="name" id="companyName" placeholder="名字" maxlength="10" minlength="5"/>
            </div>
            <div>
                <img src="{% static 'images/rightform2.png' %}"/>
                <input type="text" name="mobile" id="companyMobile" placeholder="联系电话" maxlength="11" minlength="11"/>
            </div>
            <div>
                <img src="{% static 'images/rightform3.png' %}"/>
                <input type="text" name="course_name" id="companyAddress" placeholder="课程名" maxlength="30" />
            </div>
            <p class="error company-tips" id="jsCompanyTips"></p>
            <input class="btn" type="button" id="jsStayBtn" value="立即咨询 >" />
        </form>
    </div>

    <div class="right companyrank layout">
        <div class="head">热门授课机构</div>

        {% for current_org in hot_orgs %}
            <dl class="des">
                <dt class="num fl">{{ forloop.counter }}</dt>
                <dd>
                    <a href="{% url 'org:org_home' current_org.id %}"><h1>{{ current_org.name }}</h1></a>
                    <p>{{ current_org.address }}</p>
                </dd>
            </dl>
        {%  endfor %}

    </div>
    </div>
</section>
{% endblock custom_content %}

{% block custom_js %}
<script>
    $(function () {
        $('#jsStayBtn').on('click', function () {
            $('#jsCompanyTips').removeAttr('style');
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url "org:add_ask" %}",
                data: $('#jsStayForm').serialize(),
                async: true,
                success: function (data) {
                    if (data.status === 'success') {
                        $('#jsStayForm')[0].reset();
                        alert("提交成功")
                    } else if (data.status === 'fail') {
                        $('#jsCompanyTips').html(data.msg)
                    }
                }
            })
        });

        $('#companyName, #companyAddress, #companyMobile').click(function () {
            $('#jsCompanyTips').attr('style', 'display: none');
        });
{#      在第一次提交表单出错之后，第二次修改表单，去掉表单提示失败提示信息#}
        return false;
    })
</script>
{% endblock custom_js %}